<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加地址</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../addons/photobook/template/mobile/css/jquery-weui.min.css">
	<link rel="stylesheet" href="../addons/photobook/template/mobile/css/weui.min.css">
	<script src="../addons/photobook/template/mobile/js/jquery-2.1.4.min.js" charset="utf-8"></script>
	<script src="../addons/photobook/template/mobile/js/jquery-weui.min.js" charset="utf-8"></script>
	<script src="../addons/photobook/template/mobile/js/city-picker.min.js" charset="utf-8"></script>
</head>
<body>
	<div class="weui-cells">
		<div class="weui-cell">
			<div class="weui-cell__bd" style="text-align: center;">
				添加地址
			</div> 
			<div class="weui-cell__ft">
				<a href="{php echo $this->createMobileUrl('view_address')}" class="weui-btn weui-btn_default" style="font-size: 12px">历史地址></a>
			</div>
		</div>
	</div>
	<form action="" method="post">
	<div class="weui-cells weui-cells_form">
		<div class="weui-cell weui-cell_warn">
			<div class="weui-cell__bd">
				<input class="weui-input" type="text" name="receiver" placeholder="收件人姓名">
			</div>
		</div>
		<div class="weui-cell weui-cell_warn">
			<div class="weui-cell__bd">
				<input class="weui-input" type="number" name="phone" pattern="[0-9]*" placeholder="电话号码">
			</div>
		</div>
		<div class="weui-cells__title">地址：省、市、区</div>
		<div class="weui-cell weui-cell_warn">
			<div class="weui-cell__bd">
				<input type="text" class="weui-input" id='city-picker' name="address" />
			</div>
		</div>
		<div class="weui-cells__title">地址补充信息(门牌号等)</div>
		<div class="weui-cells">
			<div class="weui-cell">
				<div class="weui-cell__bd">
					<input class="weui-input" name="detail" type="text" placeholder="详细地址">
				</div>
			</div>
		</div>
		<input type="hidden" name="token" value="{$_W['token']}">
		<div style="margin: 0.5em">

								<button type="submit" name="submit" value="提交" class="weui-btn weui-btn_plain-primary" style="width: 100%;">确认</button>
			<!-- <a href="javascript:;" class="weui-btn weui-btn_plain-primary">确定</a> -->
		</div>
	</div>
	</form>
	<script>
		$("#city-picker").cityPicker({
			title: "请选择收货地址"
		});
		$("#city-picker").val("点此选择");
	</script>
</body>
</html> 