{template 'header'}

<div id="scroll" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div style="margin-top: 1em;padding-left:0.7em;background-color:#1E9FFF;height:7em" >
			<div>
				<p style="color:white;padding-top:0.8em">佣金金额(元)</p> 
			</div>
			<div style="padding-top:0.5em;">
				<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('myrebatelist')}">
					<p style="color:white;font-size: 30px;">
						{if empty($money_count)}
						0
						{else} 
						{$money_count}
						{/if}
						<span style="display:block;font-size:30px;padding-left:10em;margin-top:-0.95em" class="mui-icon mui-icon-arrowright"></span>
					</p>	
				</a>	
			</div>
			<div style="margin-top: 1em;font-size: 20px;">
				<p style="color:white">累计收入:
					{if empty($lj_count)}
					0
					{else} 
					{$lj_count}
					{/if}
				元</p>
			</div>
		</div>
		<div class="mui-col-sm-12 mui-col-xs-12">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<div class="mui-row">
						<div class="mui-col-sm-4 mui-col-xs-4">
							<div style="text-align: center;">
								0
							</div>
							<div style="text-align: center;">
								新增粉丝
							</div>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<div style="text-align: center;">
								{if empty($lf_count)}
								0
								{else} 
								{$lf_count}
								{/if}
							</div>
							<div style="text-align: center;">
								拉粉奖励
							</div>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<div style="text-align: center;">
								{if empty($xs_count)}
								0
								{else} 
								{$xs_count}
								{/if}
							</div>
							<div style="text-align: center;">
								销售奖励
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<div class="mui-row" style="margin-top: 0.5em;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell poster">
						<span  class="mui-navigate-right">
							<img class="menu_img" src="../addons/photobook/images/hb.png" alt=""> 我的海报
						</span>
					</li>
					<li class="mui-table-view-cell qrcode">
						<span class="mui-navigate-right" href="{php echo $this->createMobileUrl('becomeagent')}">
							<img class="menu_img" src="../addons/photobook/images/qrcode.png" alt=""> 代理二维码
						</span>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('quanlist')}">
							<img class="menu_img" src="../addons/photobook/images/kj.png" alt=""> 购买代金券
						</a>
					</li>
				</ul>
			</div>
			<div class="mui-row" style="margin-top: 0.5em;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('team')}">
							<img class="menu_img" src="../addons/photobook/images/td.png" alt=""> 我的团队
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('junior')}">
							<img class="menu_img" src="../addons/photobook/images/fs.png" alt=""> 我的粉丝
						</a>
					</li>
				</ul>
			</div>
			<div class="mui-row" style="margin-top: 0.5em;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('yj_detail')}">
							<img class="menu_img" src="../addons/photobook/images/yj.png" alt=""> 佣金明细
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('return_detail')}">
							<img class="menu_img" src="../addons/photobook/images/tx.png" alt=""> 提现记录
						</a>
					</li>
				</ul>
			</div>
			<div class="mui-row" style="margin-top: 0.5em;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('document_list')}">
							<img class="menu_img" src="../addons/photobook/images/wd.png" alt=""> 文档中心
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div style="height: 4em;"></div>
	</div>
</div>
<script>
	$(function(){
		$('.qrcode').on('tap',(function(){
			if("{$ticketid}" == '' || "{$ticketid}" == null){
				layer.msg('暂无二维码,请扫描海报或在公众号回复 "{$poster}" 生成二维码')
				return 
			}
			layer.open({
				type: 0, 
				title:'代理二维码',
				 closeBtn :0,
				 area:['100%','100%'],
				 id:'l1',
				 anim: 2,
				content: '<img style="width:100%;height:auto;margin-top:15vw"src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={$ticketid}">' //这里content是一个普通的String
			});
		}))
		$('.poster').on('tap',(function(){
			if("{$share_id}" == '' || "{$share_id}" == null){
				layer.msg('暂无海报,请扫描海报或在公众号回复 "{$poster}" 生成专属海报')
				return;
			}
			layer.open({
				type: 0, 
				title:'分享海报',
				area:['100%','100%'],
				closeBtn :0,
				id:'l2',
				anim: 2,
				content: '<img style="width:100%;height:auto"src="../addons/photobook/poster/mposter{$share_id}.jpg">', 
				cancel: function(index, layero){ 
					if(confirm('确定要关闭么')){ 
						layer.close(index)
					}
					return false; 
				}  
			});
		}))
	})
</script>
{template 'footer'}