{template 'header'}

<div id="scroll" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-col-sm-12 mui-col-xs-12">
			 <ul class="mui-table-view"> 
			 	{loop $cards $k $c}
		        <li class="mui-table-view-cell mui-collapse">
		            <a class="mui-navigate-right" href="#">{$c['name']}</a>
		            <div class="mui-collapse-content">
		                <p>数量：{$c['number']}</p>
		                <p>代理商价：{$c['dealer_price']}</p>
						<p>零售价：{$c['list_price']}</p>
						{if $user['dealer'] != -1}
							<div style="text-align: center">	
								<a href="{php echo $this->createMobileUrl('agentsublist',array('cid'=>$c['id'],'cnum'=>$c['number']))}" class="mui-btn mui-btn-danger" style="width: 45%;background: #01AAED;border: none;">分享</a>
								<a href="{php echo $this->createMobileUrl('usable',array('price'=>$c['list_price']))}" class="mui-btn mui-btn-success" style="width: 45%;background: #FF5722;border: none;">使用</a>
							</div>	
						{elseif $user['dealer'] == -1}
							<a href="{php echo $this->createMobileUrl('usable',array('price'=>$c['list_price']))}" class="mui-btn mui-btn-success" style="width: 100%;background: #FF5722;border: none;">使用</a>
						{/if}
						</div>
		        </li>
		        {/loop}
		    </ul>
		</div>
		<div style="height: 4em;"></div>
	</div>
</div>

{template 'footer'}