<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<script src="../addons/photobook/template/mobile/js/mui.min.js"></script>
	<link href="../addons/photobook/template/mobile/css/mui.min.css" rel="stylesheet" />
	<link href="../addons/photobook/template/mobile/css/app.css" rel="stylesheet" />
	<link href="../addons/photobook/template/mobile/css/icons-extra.css" rel="stylesheet">
	<script src="../addons/photobook/template/mobile/js/jquery-2.1.4.min.js"></script>
	<script src="../addons/photobook/template/mobile/layer/layer.js"></script>

	<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
	<script type="text/javascript" charset="utf-8">
		mui.init();
	</script>
	<style>
	.mui-table-view-cell {
		font-size: 12px;
	}
	.menu_img{
		width: 7vw;
		position: relative;
		top: 2vw
	}
	.ce_font .mui-table-view-cell a{
		font-size:  13.5px 
	}
</style>
</head>

<body>
	<!-- 侧滑导航根容器 -->
	<div class="mui-off-canvas-wrap mui-draggable">
		<!-- 菜单容器 -->
		<aside class="mui-off-canvas-left" style="width: 40%;">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="mui-row touxiang">
					</div>
					<ul class="mui-table-view cebians ce_font">
						<li class="mui-table-view-cell">
							<a href="{php echo $this->createMobileUrl('homea')}">
								<img class="menu_img" src="../addons/photobook/images/zy.png" alt="">   首页
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="{php echo $this->createMobileUrl('OrderList')}">
								<img class="menu_img" src="../addons/photobook/images/dd.png" alt="">   我的订单
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="{php echo $this->createMobileUrl('MyWork')}">
								<img class="menu_img" src="../addons/photobook/images/zp.png" alt="">   我的作品
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="{php echo $this->createMobileUrl('usercenter')}">
								<img class="menu_img" src="../addons/photobook/images/gr.png" alt="">   个人中心
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="{php echo $this->createMobileUrl('userphotos')}&op=del">
								<img class="menu_img" src="../addons/photobook/images/zpk.png" alt="">   照片库
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="{php echo $this->createMobileUrl('service')}">
								<img class="menu_img" src="../addons/photobook/images/kf.png" alt="">   客服中心
							</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>
		{if $p_title == "照片书列表"}
		<aside class="mui-off-canvas-right" style="width: 20%;background-color: #2F4056">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view cebians kind" style="background-color: #2F4056">
						<li class="mui-table-view-cell" data-id="-1">
							<span style="color:white">全部</span>
						</li>
						{loop $kind_list $row}
						<li class="mui-table-view-cell" data-id="{$row['id']}">

							<span style="color:white">{$row['name']}</span>

						</li>
						{/loop}
					</ul>
				</div>
			</div>
		</aside>
		{/if}
		<!-- 主页面容器 -->
		<div class="mui-inner-wrap">
			<!-- 主页面标题 -->
			<header class="mui-bar mui-bar-nav">
				<div class="mui-row">
					<div class="mui-col-sm-2 mui-col-xs-2">
						<span class="mui-icon mui-action-menu mui-icon-bars mui-pull-left" id="cebian_but"></span>
					</div>
					<div class="mui-col-sm-8 mui-col-xs-8">
						<div style="text-align: center;padding-top: 0.5em;color: coral;">
							<h4>{$p_title}</h4>
						</div>
					</div>
				</div>
			</header>