<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		var jsVer = 29;
		var phoneWidth = parseInt(window.screen.width);
		var phoneScale = phoneWidth/360;
		
		var ua = navigator.userAgent;
		if (/Android (\d+\.\d+)/.test(ua)){
			var version = parseFloat(RegExp.$1);
			// andriod 2.3
			if(version>2.3){
				document.write('<meta name="viewport" content="width=360, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+', target-densitydpi=device-dpi">');
			// andriod 2.3以上
		}else{
			document.write('<meta name="viewport" content="width=360, target-densitydpi=device-dpi">');
		}
		// 其他系统
	} else {
		document.write('<meta name="viewport" content="width=360, user-scalable=no, target-densitydpi=device-dpi">');
	}
</script>
<meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" /> -->
<script type="text/javascript" src="../addons/photobook/template/mobile/js/touch.min.js"></script>
<script type="text/javascript" src="../addons/photobook/template/mobile/js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="../addons/photobook/template/mobile/css/mui.min.css"/>
<title></title>
<style type="text/css">
body{

	height: auto;
}
ul li{
	list-style: none;
}
#aflull{
	width: 100%;
	position: fixed;
	z-index: 2;
}
#mui-cards{
	width: 100%;
	margin: 0;
	padding: 0;
}
#titles{
	position: fixed;
	z-index: 9;
	background: white;
	opacity: 0.6
}
.caodiv{
	float: left;
	height: 100%;
}
#carcount{
	width: 100%	
}
.Timgs{
	width: 100%;
	border-bottom: 1px solid #fff;
}
.texts{
	background-color:rgba(255,255,255,0.1);
	color: #2c3e50;
	text-shadow:1px 1px 1px #fff;
}
.op_btn{
	background:#393D49;border:none;
	padding: 0.9vw 3vw;
}
</style>
</head>
<input type="hidden" value="{$ordersubid}" id="OneOrderId">
<div id="Tpanel1">
	<div class="mui-card" id="mui-cards">
		<div class="mui-card-content" id="carcount">
		</div>
	</div>
	<nav class="mui-bar mui-bar-tab">
		{if $trimtype==0}
		<a class="mui-tab-item mui-active">
			<button type="button" id="alter_template" class="mui-btn mui-btn-danger mui-btn-outlined">
				<span class="mui-icon mui-icon-upload"></span>
				更换模板
			</button>
		</a>
		{/if}
		<a class="mui-tab-item mui-active">
			<button type="button" id="save_template" class="mui-btn mui-btn-primary">
				保 存
			</button>
		</a>
	</nav>
</div>
<div id="Tpanel2">
	<div>
		<div class="mui-content">
			<div class="mui-row" id="T2count"">
			</div>
		</div>
	</div>
	<div style="margin-top: 5em"></div>
	<nav class="mui-bar mui-bar-tab">
		<a class="mui-tab-item mui-active">
			<button type="button" id="re_template" class="mui-btn mui-btn-danger mui-btn-outlined">
				<span class="mui-icon mui-icon-reload"></span>
				返回	
			</button>
		</a>
	</nav>
</div>
</body>
<script src="../addons/photobook/template/mobile/layer/layer.js"> </script>
<!-- <script src="../addons/photobook/template/mobile/js/mui.min.js"> </script> -->
<script type="text/javascript">
	//alert("carcount的宽度："+$("#carcount").width());
	//加载时获取数据结构
	//框的比例：
	var ratio=1;
	var orderval=$("#OneOrderId").val(); 
	$("#Tpanel2").hide();  //模板列表页
	layer.load();
	layer.closeAll('loading');
	//更换角度
	var change_degs=function(kuai,img,deg){

		degs=deg+Number(img.data("rou"));
		if(Math.abs(degs)==360){
			degs=0
		}
		img.data("rou",degs)//重新给旋转角度赋值
		
		var thisimgkuang=img.data("reimgkuang");//存的框的参数
		var thisimgaimg=img.data("reimgaimg");//存的图像的参数
		thisimgaimg.roate=degs;
		var firimg=filter_img(thisimgkuang,thisimgaimg,true)
		img.data("reimg",firimg) 
		var zhenthisW=img.data("zhenH")
		var zhenthisH=img.data("zhenW")
		img.data("zhenW",zhenthisW)
		img.data("zhenH",zhenthisH)
		layer.load();
		
		img.attr({
			width:Number(firimg.width)+"px",
			height:Number(firimg.height)+"px",
		});
		canvasRotate(img.data("imgurl"),firimg.width,firimg.height,degs,"#"+img.data("id"));

		console.log("旋转后 width==="+firimg.width+" height=="+firimg.height)
		img.css({
			top:Number(firimg.top)+"px",
			left:Number(firimg.left)+"px",
		});
		layer.closeAll('loading');
		ADDtouch(kuai,img)
		//竟然不会覆盖，只会再次重载。
		ADDtouch(kuai,img)
	};
	
	//重要函数：根据图片和框的原始数据，进行处理，获取处理后的图片的高度，宽度，位置，约束，然后返回onload供遍历时显示用
	//resetLocation:是否需要重置位置，用于旋转等操作后，需要把位置设置到默认居中的位置上
	//约束是高度差或宽度差，而不是一半
	//注意返回值的长宽，是旋转完之后的，去掉了旋转的影响，可以直接用，不需要根据角度对调了
	var filter_img=function(kuang,img,resetLocation){

		if(resetLocation)
			console.log("filter_img：需要重新计算位置，放到默认位置");
		var reimg={};
		
		//这个对调并不存储，仅是为了计算用
		if(Math.abs(img.roate)==90||Math.abs(img.roate)==270){
			console.log('filter_img：90和270度时，对图片长宽进行对调')
			var temp=img.width;
			img.width=img.height;
			img.height=temp;		
		}
		/**
		 *  如果框的宽与高的比值 > 图片宽与高的比值，则适配图片宽度（图片的宽度等于框的宽度）
		 */
		if(kuang.width/kuang.height > img.width/img.height){

			reimg.width=kuang.width*ratio;
			reimg.height=img.height * reimg.width/img.width;
			reimg.yueshuh=(reimg.height-kuang.height*ratio);	
			reimg.yueshuw=0;
			if(resetLocation||((img.Xtop==''||img.Xtop==null)||(img.Xleft==''||img.Xleft==null))){
				/**
				 * 如果是新的图片编辑，图片位置显示在中间
				 */
				reimg.top=-reimg.yueshuh/2;
				reimg.left=0;
			}else{
				/**
				 *  如果是已经编辑过的，则显示编辑过的图片的信息
				 */
				reimg.top=img.Xtop;
				reimg.left=img.Xleft;
			}
		}else{
			/**
			 *  如果框的宽与高的比值 < 图片宽与高的比值，则适配图片高度（图片的高度等于框的高度）
			*/
			reimg.height=kuang.height*ratio;
			reimg.width=img.width*reimg.height/img.height;
			reimg.yueshuw=(reimg.width-kuang.width*ratio);
			reimg.yueshuh=0;
			/**
			 * 如果是新的图片编辑，图片位置显示在中间
			*/
			if(resetLocation||((img.Xtop==''||img.Xtop==null)||(img.Xleft==''||img.Xleft==null))){
				reimg.top=0;
				reimg.left=-reimg.yueshuw/2;
			}else{
				/**
				 *  如果是已经编辑过的，则显示编辑过的图片的信息
				*/
				reimg.top=img.Xtop;
				reimg.left=img.Xleft;
			}
		}
		if(Math.abs(img.roate)==90||Math.abs(img.roate)==270){
			
			//时间证明，约束不能对调
			//要把图片的长宽对调回去，因为这里不是形参，是引用。用完了恢复--测试结果确实如此
			var temp=img.width;
			img.width=img.height;
			img.height=temp;	
		}

		return reimg;
	}
	
	//监听移动照片事件，touch.js
	var ADDtouch=function (kuai,img){
		var kx, ky;  
		var sreimg=img.data("reimg");//计算后的图片信息
		var keep_w=sreimg.yueshuw; //约束宽度
		var keep_h=sreimg.yueshuh; //约束高度
		var maxX=0; //最大x坐标
		var minX=0-Math.abs(keep_w);//最小x坐标
		var maxY=0; //最大y坐标
		var minY=0-Math.abs(keep_h);//最小y坐标
		
		var currentX,currentY; //当前图片位置信息
		var originX,originY;//拖动开始前的位置
		
		touch.on(kuai,"drag",function(ev){

			kuai[0].addEventListener('touchstart', function (event) {
				//阻止元素发生默认行为
				event.preventDefault();
			});	
			/**
			 * 约束高度，高度不变，x坐标位置移动
			 */
			if(keep_h == 0){
				currentX = parseFloat(originX) + parseFloat(ev.x);
				img.css({
					"left":currentX+"px"
				});
			}
			/**
			 * 约束宽度，宽度不变，y坐标位置移动
			 */
			if(keep_w == 0){
				currentY = parseFloat(originY) + parseFloat(ev.y);
				img.css({
					"top":currentY+"px"
				});
			}
			
			/**
			 * 进行判断
			 * 如果图片的x坐标移动位置超过了约束宽度，则图片x坐标调整为约束宽度
			 */
			if(parseFloat(img.css("left").replace("px","")) > maxX){
				img.css({
					"left":maxX+"px"
				});
			}else if(parseFloat(img.css("left").replace("px","")) < minX){
				img.css({
					"left":minX+"px"
				});
			}
			/**
			 * 进行判断
			 * 如果图片的y坐标移动位置超过了约束高度，则图片y坐标调整为约束高度
			 */
			if(parseFloat(img.css("top").replace("px","")) > maxY){
				img.css({
					"top":maxY+"px"
				});
			}else if(parseFloat(img.css("top").replace("px","")) < minY){
				img.css({
					"top":minY+"px"
				});
			}
		});
		
		touch.on(kuai, 'dragstart', function(ev){
			/**
			 *  移动前，记录下图片的位置信息
			 */
			originX=img.css("left").replace("px","");
			originY=img.css("top").replace("px","");
		});		
		touch.on(kuai,"tap",function(e){
			//显示操作按钮组
			tkx=e.detail.position.x;
			tky=e.detail.position.y;
			CAOzuo(kuai,$(this).next().find('img').eq(0),tkx,tky);
		});
	}
	//操作栏
	var CAOzuo=function(kuai,imgobj,x,y){
		//删除之前生成的
		$idcaozuo=$('#caozuolan');
		var dangimgid=imgobj.data("imgid");
		if($idcaozuo){
			var dangcaozyolan=$idcaozuo.data('imgid');
			if(dangcaozyolan==dangimgid){
				$idcaozuo.remove();
				return
			}
			$idcaozuo.remove();
		}
		$caozuolan=$("<div></div>");
		$("#carcount").append($caozuolan);
		$caozuolan.attr({
			id: 'caozuolan',
		});
		$caozuolan.data('imgid',dangimgid);
		$('#caozuolan').data('imgid');
		$caozuolan.css({
			"width":"100%",
			"position":"fixed",
			"top":y+"px",
			"left":x/2+"px",
			"z-index":10
		});
		//添加左旋按钮
		$leftR=$("<button type='button' class='mui-btn mui-btn-warning op_btn'>左旋</button>");
		$caozuolan.append($leftR);
		$leftR.bind("tap",function(){
			change_degs(kuai,imgobj,-90)
			$(this).removeAttr("disabled");
		});
		//添加更换照片按钮
		$changepo=$("<button type='button' class='mui-btn mui-btn-success op_btn'>更换照片</button>");
		$caozuolan.append($changepo);
		$changepo.bind('tap',function() {
			change_img(kuai,imgobj)
		});
		//添加右旋按钮
		$rightR=$("<button type='button' class='mui-btn mui-btn-warning op_btn'>右旋</button>");
		$caozuolan.append($rightR);
		$rightR.bind("tap",function(){
			$(this).attr('disabled',"true");
			change_degs(kuai,imgobj,90)
			$(this).removeAttr("disabled");
		});
		return $caozuolan;
	}
	//更换图片
	var change_img=function(kuai,imgobj){
		jsonreq();
		var Source_of_change=kuai.data("xulie");
		sessionStorage.setItem("Source_of_change",Source_of_change);
		window.location.href="{$url}"+"&Npage={$Npage}&ordersubid={$ordersubid}" //新增参数ordersubid，用于获取该照片书使用的所有图片
	}
	//更换模板
	var jsonTEP={}
	var changetepm=function(stu,tid){
		if(stu==0){
			//打开更换模板页
			$("#Tpanel1").hide();
			$("#Tpanel2").show();
		}
		if(stu==1){
			//关闭模板页
			$("#Tpanel1").show()
			$("#Tpanel2").hide()
		}
		if(stu==1 && tid>0){
			//选定模板页
			jsonTEP.tid=tid;
			$.post(
				"{$url_API_Ctep}",
				{
					"tid":tid
				},
				function(data){
					if(data.code==0){
						sessionStorage.setItem("tep",data.tep);//模板表分表一条	
						sessionStorage.setItem("aflull",data.tepimg);//模板图路径
						sessionStorage.setItem("WhenchangingID",orderval);
						sessionStorage.setItem("NewTid",data.NewTid);
						window.location.href=window.location.href+"&timestamp="+ new Date().getTime();
					}
				}, 
				"json"
				)
			$("#Tpanel1").show();
			$("#Tpanel2").hide();
		}
	};

	//-------------------------------------------------------------------====================================
	var jsonarr,tep,temlist,aflull,arrimgt;
	var LOCsave=sessionStorage.getItem("jsonarr");

	if(LOCsave){
		var orderval=$("#OneOrderId").val();//当前更改的订单id
		var WhenchangingID=sessionStorage.getItem("WhenchangingID");//正常切换页面操作时所记录的订单id
		
		if(orderval==WhenchangingID){	//如果相等就是正常范围内操作,此时需要取得原本的数据	
			/**
			 * 如果本地存储订单id 与 页面的订单id相同，取本地缓存数据
			 * 更换模板或图片用到
			*/
			jsonarr=sessionStorage.getItem("jsonarr"); //订单分表，	
			tep=sessionStorage.getItem("tep");//模板表分表一条	
			temlist=sessionStorage.getItem("temlist");//模板表分表
			aflull=sessionStorage.getItem("aflull");//模板图路径
			arrimgt=sessionStorage.getItem("arrimgt");//图片原图
		}else{
			/**
			 * 如果本地存储的订单id与 页面的订单id不相同，则取订单数据
			*/
			sessionStorage.clear();
			jsonarr='{$trim}'; //订单分表，	是订单页的trim信息的json
			tep='{$tep}';//模板表分表一条	
			temlist='{$enlist}';//模板表分表
			aflull='{$tepimg}'//模板图路径
			arrimgt='{$arrimgt}'//模板框内的图片
		}
	}else{
		/**
		 * 如果本地存储为空，取订单数据
		 * 生成照片书，第一次进入编辑页用到
		 */
		sessionStorage.clear();
		jsonarr='{$trim}'; //是订单页的trim信息的json	
		tep='{$tep}';//模板表分表一条	
		temlist='{$enlist}';//模板表分表
		aflull='{$tepimg}'//模板图路径
		arrimgt='{$arrimgt}'//模板框内的图片
	}
	
	//将数据存入本地数据
	sessionStorage.setItem("jsonarr",jsonarr);
	sessionStorage.setItem("tep",tep);
	sessionStorage.setItem("temlist",temlist);
	sessionStorage.setItem("arrimgt",arrimgt);
	sessionStorage.setItem("aflull",aflull);
	/**
	 * 设置模板图图片
	 */
	$aflull=$('<img>');//模板背景图在此设定
	$aflull.attr({
		"id": 'aflull',
		"src": 'http://demo-photo.oss-cn-beijing.aliyuncs.com/'+aflull
	})
	$aflull.css({
		"width": "360px",
		"position": "fixed",
		"z-index": "2"
	});
	//将当前模板图，添加到dom中
	$('#carcount').prepend($aflull);

	//获取元素的纵坐标 
	function getTop(e){ 
		var offset=e.offsetTop; 
		if(e.offsetParent!=null) offset+=getTop(e.offsetParent); 
		return offset; 
	} 
	//获取元素的横坐标 
	function getLeft(e){ 
		var offset=e.offsetLeft; 
		if(e.offsetParent!=null) offset+=getLeft(e.offsetParent); 
		return offset; 
	} 
	//更新数据
	var returnjson=[];
	var jsonreq=function(){
		$thiskuang=$(".thiskuang");
		var AI=0;//
		//遍历模板中的框
		$thiskuang.each(function(index,val,arr){
			//找到框中的图片dom
			var thisimg=$(val).next().find('img').eq(0);
			if(thisimg.length>0){
				//如果找到
				returnjson[AI]={
					width:$(thisimg).data("begin_width").toString(),
					height:$(thisimg).data("begin_height").toString(),
					top:getTop(thisimg[0]),
					left:getLeft(thisimg[0]),
					Xtop:$(thisimg).css('top'),
					Xleft:$(thisimg).css('left'),
					type:"img",
					roate:$(thisimg).data("rou").toString(),
					imageId:$(thisimg).data("imgid").toString(),
					imgurl:$(thisimg).data("imgurl")
				}
			}else{
				returnjson[AI]={
					width:"",
					height:"",
					top:"",
					left:"",
					type:"none",
					roate:0,
				}
			}
			AI+=1;
		});
		$texts=$("#texts");
		if($texts){
			//文字框
			if(sessionStorage.getItem("isture")==1){
				returnjson[AI]={
					width:$texts.width().toString(),
					height:$texts.height().toString(),
					top:getTop($texts[0]).toString(),
					left:getLeft($texts[0]).toString(),
					type:"name",
					text:$texts.val()
				}
			}
		}
		var JSON_re=JSON.stringify(returnjson);
		sessionStorage.setItem("jsonarr",JSON_re);
		var orderval=$("#OneOrderId").val();
		sessionStorage.setItem("WhenchangingID",orderval);
		return JSON_re;
	};

	var zhengze=function(str){
		var reg=new RegExp("px","g"); 
		var newstr=str.replace(reg,"");
		return newstr;
	}
	/**
	 *  前端图片有时不显示，问题在这，图片文件名含有px，正则以后会修改文件名
	 *  已修改
	 */
	var reg = new RegExp("px","g");
	// var order=JSON.parse(zhengze(jsonarr)); 修改bug，图片名称不能正则匹配，否则无法显示图片
	var order=JSON.parse(jsonarr);
	for (var index in order){
	    for(var key in order[index])
	    	if(key != 'imgurl' && key != 'type' && key != 'imageId' && key != 'roate'){	 
	    		if(order[index][key]){
					order[index][key] = order[index][key].toString().replace(reg,"");
	    		}
	    			
	    	}
	} 
	var template=JSON.parse(zhengze(tep));
	var Teml=JSON.parse(temlist);
	var arrimgt=JSON.parse(zhengze(arrimgt));

	//用canvas对图片进行处理，返回新生成的url，这样取坐标时，不受旋转的影响
	//imgId:这是对应img元素的id值，用于旋转完后给其赋值
	//此处width和height，对于90和270度而言，是旋转过之后的
	function canvasRotate(oldimg,width,height,degree,imgId){

		//注意无需对调长宽，因为后边要调用旋转函数
		temp_width=width;
		temp_height=height;
		var canvas = document.createElement("canvas");
		canvas.width=temp_width;
		canvas.height=temp_height;
		var ctx=canvas.getContext("2d");
		var img=new Image();
		//设置跨域访问图片
		img.setAttribute('crossOrigin', 'anonymous');
		img.onload=function() {	

			if(degree!=0&&degree!=""&&degree!=null){
				if(degree==90 || degree==-270){
					ctx.translate(width,0);
					ctx.rotate(degree*Math.PI/180);
					ctx.drawImage(img,0,0,height,width);//图显示不全的错误在此，宽高在此切换							
				}else if(degree==270 || degree ==-90){
					ctx.translate(0,height);
					ctx.rotate(degree*Math.PI/180);
					ctx.drawImage(img,0,0,height,width);
				}else if(degree==180 || degree ==-180){
					ctx.translate(width,height);
					ctx.rotate(degree*Math.PI/180);
					ctx.drawImage(img,0,0,width,height);
				}
			}else{
				ctx.drawImage(img,0,0,width,height);
			}

			var rotatedImg=canvas.toDataURL("image/png");
			$(imgId).attr('src',rotatedImg);
		}
		img.src="https://demo-photo.oss-cn-beijing.aliyuncs.com/"+oldimg;
	}
		
	///////////////////////======================================//////////////////////////////
	window.onload=function(){
		/**
		 * 获取该照片书所有的模板页，用于可更换模板
		 */
		$T2=$("#T2count");
		Teml.forEach(function(val,index,arr){
		 	$Tdiv=$("<div></div>");
		 	$T2.append($Tdiv);
		 	$Tdiv.attr({ 
		 		class:"mui-col-sm-4 mui-col-xs-4"
		 	});
			$Tthisimg=$("<img>");//模板图
			$Tdiv.append($Tthisimg);
			$Tthisimg.attr({
				src: "http://demo-photo.oss-cn-beijing.aliyuncs.com/"+val.thumb,
				class: 'Timgs'
			});
			$Tthisimg.data("tid",val.id);
			$Tthisimg.bind("tap",function(e){
				changetepm(1,val.id);
			})
		});
		/**
		 * 退出模板选择
		 */
		$("#re_template").bind('tap',function(event) {
			changetepm(1,0);
		});
		/**
		 * 进入模板选择
		 */
		$("#alter_template").bind('tap',function(event) {
			changetepm(0,0);
		});
		
		var I=0;//定义循环的I值，当作数组下标用
		var J=0;//所有图片框的序列
		var order_count=0;//需要检测出模板的框中图片的数量
		/**
		 * 遍历编辑页模板，图片框的个数
		 */
		template.forEach(function(val,index,arr) {
			if(val.type=="img"){
				order_count += 1
			}
		})
		/**
		 * 遍历编辑页模板信息，给图片框放入图片
		 */
		template.forEach(function(val,index,arr) {
			/**
			 * 如果框的类型是图片
			*/
			if(val.type =='img'){
				//其内部不嵌套图片，是外边那个参照框（黑色border）
				$newkuang = $("<div></div>");
				$("#carcount").append($newkuang);
				$newkuang.css({
					"position":"fixed",
					"top":val.top*ratio+"px",
					"left":val.left*ratio+"px",
					"height":val.height*ratio+"px",
					"width":val.width*ratio+"px",
					"z-index":"3"
				});
				//将框的信息保存到 data-wk 中
				var	wk={
					width:val.width*ratio,
					height:val.height*ratio,
					top:val.top*ratio,
					left:val.left*ratio
				}
				$newkuang.data("wk",wk)
				$newkuang.attr({
					"class":"thiskuang"
				});
				if(I < order_count){
					//order order_sub表trim，编辑信息
					if(order[I]!=undefined){
						if(order[I].type=="img"){
							//构建了框2 超出部分隐藏
							$newkuang2 = $("<div></div>");
							$("#carcount").append($newkuang2);
							$newkuang2.css({
								"position":"fixed",
								"top":val.top*ratio+"px",
								"left":val.left*ratio+"px",
								"height":val.height*ratio+"px",
								"width":val.width*ratio+"px",
								"overflow":"hidden",
								"z-index":"1"
							});
							//在框中构建图片
							$imgs=$("<img/>")
							$newkuang2.append($imgs);
							var	akuang={
								width:val.width,
								height:val.height,
								top:val.top,
								left:val.left
							}
							//将框信息保存 data-reimgkuang 中
							$imgs.data("reimgkuang",akuang)
							var aimg={
								width:order[I].width,
								height:order[I].height,
								Xtop:order[I].Xtop,
								Xleft:order[I].Xleft,
								roate:order[I].roate
							}

							//将需要编辑的信息保存 data-reimgaimg 中
							$imgs.data("reimgaimg",aimg);
							//arrimgt是原图
							if(arrimgt[I]!=null){
								$imgs.data("zhenW",arrimgt[I].width/3);//arrimgt是原图，由于原图和当前图是3倍关系，所以在此等于切换为缩略图大小
								$imgs.data("zhenH",arrimgt[I].height/3);
							}
							/**
							 * akuang 模板图框的位置信息
							 * aimg   框中图片的位置信息
							 * areimg 返回计算后图片的位置信息
							 */
							var areimg=filter_img(akuang,aimg,false);
							//将计算后的图片信息保存 data-reimg 中
							$imgs.data("reimg",areimg)
							$imgs.css({
								"position":"absolute",
								"z-index":"1"
							});
							$imgs.data("imgid",order[I].imageId);
							$imgs.data("imgurl",order[I].imgurl);
							$imgs.data("rou",order[I].roate);
							$imgs.data("begin_width",order[I].width);
							$imgs.data("begin_height",order[I].height);
							$imgs.data("id",I+'I'+order[I].imageId);

							//注意此处图片真正显示的宽度和高度，位置，是filter_img处理过的，角度未在此赋值
							$imgs.attr({
								id:I+"I"+order[I].imageId,
								class:"thisimgid",								
								width:Number(areimg.width)+"px",//计算后图片的宽度
								height:Number(areimg.height)+"px",//计算后图片的高度
							});
							/**
							 * 通过convas画布生成图片，并将图片url 赋值给$imgs.src;
							 * 在函数中已经赋值
							 */
							canvasRotate(order[I].imgurl,areimg.width,areimg.height,order[I].roate,"#"+I+"I"+order[I].imageId);
							//把计算后的图片位置赋值给图片，显示正确位置
							$imgs.css({
								top:Number(areimg.top)+"px",
								left:Number(areimg.left)+"px"
							});

							$imgs.data("ifold","0")
							//监听移动照片touch事件
							ADDtouch($newkuang,$imgs);
						}else{
							/**
							 * 更换模板时，如果编辑框不是图片，更换为添加图片
							 */
							$jiahao=$('<span class="mui-icon mui-icon-compose">添加</span>');
							$newkuang.append($jiahao);
							$jiahao.css({
								"margin-left":"10%",
								"margin-top":"10%",
								"width":"100%",
							});
							$newkuang.bind("tap",function(e){
								jsonreq();
								var Source_of_change=$(this).data("xulie");
								sessionStorage.setItem("Source_of_change",Source_of_change);
								window.location.href="{$url}"
							})
						}
					}else{
						/**
						 * 更换模板，多出的图片框
						 */
						$jiahao=$('<span class="mui-icon mui-icon-compose">添加</span>');
						$newkuang.append($jiahao);
						$jiahao.css({
							"margin-left":"10%",
							"margin-top":"10%",
							"width":"100%",
						});
						$newkuang.bind("tap",function(e){
							jsonreq();
							var Source_of_change=$(this).data("xulie");
							sessionStorage.setItem("Source_of_change",Source_of_change);
							window.location.href="{$url}"
						})
					}
					I+=1;
				}else{
					//无图片时，显示的加号；
					$jiahao=$('<span class="mui-icon mui-icon-compose">添加</span>');
					$newkuang.append($jiahao);
					$jiahao.css({
						"margin-left":"10%",
						"margin-top":"10%",
						"width":"100%",
					});
					$newkuang.bind("tap",function(e){
						jsonreq();
						var Source_of_change=$(this).data("xulie");
						sessionStorage.setItem("Source_of_change",Source_of_change);
						window.location.href="{$url}"
					})
				}
				//J框的序列号，模板中第几个框
				$newkuang.data("xulie",J);
				J+=1;	
			}else if(val.type=='name'){
				//文字字段
				$newinput=$("<textarea id='texts'>可以在此输入文字</textarea>");
				$("#carcount").append($newinput);
				$newinput.css({
					"position":"fixed",
					"top":val.top*ratio+"px",
					"left":val.left*ratio+"px",
					"height":val.height*ratio+"px",
					"width":val.width*ratio+"px",
					"z-index":"5",
					"border-style":"solid"
				});
				$newinput.attr({
					"class":"texts"
				});
				var istext=0;
				$.each(order,function(index,val,arr){
					if(val.type=="name"){
						istext=1;
						$newinput.val(val.text);
						sessionStorage.setItem("isture",1)
					}
				})
				if(istext==0){
					sessionStorage.setItem("isture",0);
					$newinput.focus(function(){
						$(this).val("");
						sessionStorage.setItem("isture",1);
					})
				}
			}

		});
		/**
		 * 更换的模板，进行保存
		 */
		$("#save_template").bind("tap",function(e){
			var rejs=jsonreq()
			
			if(!sessionStorage.getItem("NewTid")){
				sessionStorage.setItem("NewTid","-1")
			}

			$.post(
				"{$url_reOnesave}",
				{	
					"orderid":$("#OneOrderId").val(), 
					"NewTid":sessionStorage.getItem("NewTid"),
					"window_W":window.screen.width,
					"Reone":rejs
				},
				function(data){
					sessionStorage.clear();
					if(data.code==0){
						window.location.href="{$url_turn}"+"&Npage={$Npage}";
					}
				},
				"json"					
			)
		})
	}	
</script>
</html>