{template 'header'}

<div id="scroll" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div style="font-size: 12px;font-family: '微软雅黑';">
			<span class="mui-icon mui-icon-arrowdown"></span>
			{$Atitle}
		</div>
		<div class="mui-row">
			<ul class="mui-table-view">
				{loop $orders $order}
				<li class="mui-table-view-cell" id="li_shops">
					<div class="mui-row">
						<div class="mui-col-sm-12 mui-col-xs-12">
							<div class="mui-row">
								<div class="mui-col-sm-10 mui-col-xs-10">
									订单编号：{$order['order_id']}
								</div>
								<!-- 0:未支付，1，已支付，2：已打印，3：已发货，4：已收货 -->
								<div class="mui-col-sm-2 mui-col-xs-2">
									{if $order['status']==0}
									<span class="mui-badge mui-badge-warning">未支付</span>
									{else if $order['status']==1}
									<span class="mui-badge mui-badge-success">已支付</span>
									{else if $order['status']==2}
									<span class="mui-badge mui-badge-danger">已打印</span>
									{else if $order['status']==3}
									<span class="mui-badge mui-badge-purple">已发货</span>
									{else if $order['status']==4}
									<span class="mui-badge mui-badge-primary">已收货</span>
									{/if}
								</div>
							</div>
						</div>
						<div class="mui-col-sm-10 mui-col-xs-10">
							<div class="mui-row">
								<div class="mui-col-sm-6 mui-col-xs-6">
									<img src="{media $order['template']['thumb']}" alt="" style="width: 100%;border-radius: 5px;" />
								</div>
								<div class="mui-col-sm-6 mui-col-xs-6" style="padding-left: 1em;">
									<div style="color: #2c3e50;">
										{$order['template']['name']}
									</div>
									<div>
										<p>制作时间：</p>
										<p>{php echo date('Y-m-d H:m',$order['createtime'])}</p>
										{if $Atitle != '未支付订单'}
											<p>快递公司：{$order['express']}</p>
											<p>快递单号：{$order['express_id']}</p>
										{/if}
									</div>
								</div>
							</div>
						</div>
						<div class="mui-col-sm-2 mui-col-xs-2">
							<p>{$order['template']['price']}&nbsp;X&nbsp;{$order['count']}</p>
						</div>
						<div class="mui-col-sm-12 mui-col-xs-12">
							<div class="mui-row">	
								<div class="mui-col-sm-9 mui-col-xs-9">
									<button type="button" data-id="{$order['id']}" class="mui-btn mui-btn-success mui-btn-outlined Order_details">订单详情</button>
									<button type="button" data-id="{$order['id']}" class="mui-btn mui-btn-success mui-btn-outlined Preview_of_works">作品预览</button>
									
									{if $order['status'] == 0}
									<a href="{php echo $this->createMobileUrl('Place_order',array('order_id'=>$order['id']))}">
										<button type="button" class="mui-btn mui-btn-success mui-btn-outlined">去支付</button>
									</a>
									{/if}			
								</div>
								{if $order['status'] ==3}
									<div class="mui-col-sm-3 mui-col-xs-3">
										<button type="button" data-id="{$order['id']}" class="mui-btn mui-btn-warning mui-btn-outlined take">确认收货</button>
									</div>
								{elseif $order['status'] ==4}
									<div class="mui-col-sm-3 mui-col-xs-3">
										<button type="button" data-id="{$order['id']}" class="mui-btn mui-btn-warning mui-btn-outlined comment">评论</button>
									</div>
								{/if}
								{if $Atitle == "购物车"}
									<div class="mui-col-sm-3 mui-col-xs-3">
										<button type="button" data-id="{$order['id']}" class="mui-btn mui-btn-danger mui-btn-outlined del">删 除</button>
									</div>
								{/if}
							</div>	
						</div>
					</div>
				</li>
				{/loop}
			</ul>
		</div>
		<div style="height: 4em;"></div>
	</div>
</div>
<script type="text/javascript">

	$(function(){
		$('.del').click(function(){
			var url= "{php echo $this->createMobileUrl('ShoppingCart')}";
			$.post(url,
			{order_id:$(this).data("id")},
			function(res){
				if(res.code == 0){
					layer.msg('删除成功')
				}	
				else if(res.code ==1){
					layer.msg('删除失败')
				}
				location.reload()	
			},'json')
		})
		$('.take').click(function(){
			var url= "{php echo $this->createMobileUrl('order_take')}";
			$.post(url,
			{order_id:$(this).data("id")},
			function(res){
				if(res.code == 0){
					layer.msg('确认成功,可对宝贝评论哦')
				}	
				else if(res.code ==1){
					layer.msg('确认失败')
				}
				location.reload()	
			},'json')
		})
		$('.comment').click(function(){
			var url= "{php echo $this->createMobileUrl('order_comment')}";
			$.post(url,
			{order_id:$(this).data("id")},
			function(res){
				if(res.code == 0){
					window.location.href = "{php echo $this->createMobileUrl('comment')}"+"&order_id= "+res.order_id;
				}	
				else if(res.code ==1){
					layer.msg('你已经评论了哦')
				}
			},'json')
		})
	})
	
	$(".Order_details").bind("tap",function(e){
		var orderid=$(this).data("id")
		window.location.href="{$url_details}"+"&order_id="+orderid;
		console.log(orderid)
	})
	$(".Preview_of_works").bind("tap",function(e){
		var orderid=$(this).data("id")
		window.location.href="{$url_Preview}"+"&tid="+orderid;
		console.log(orderid)
	})
	
</script>
{template 'footer'}