{template 'header'}
				<div id="scroll" class="mui-content mui-scroll-wrapper ">
					<div class="mui-scroll">
						<form class="mui-input-group" method="post" onsubmit="return check()">
							<div class="mui-input-row">
								<label>订单号</label>
								<input type="text" class="mui-input-clear" name="order_id" placeholder="订单号">
							</div>
							<div class="mui-input-row">
								<label>简要说明</label>
								<input type="text" class="mui-input-clear" name="title" placeholder="如订单修改...等">
							</div>
							<div class="mui-input-row">
								<label>详细描述</label>
							</div>
							<div class="mui-input-row" style="height: 6em;">
								<textarea name="detail" style="height: 6em;"></textarea>
							</div>
							<div class="mui-input-row">
								<label>联系电话</label>
								<input type="number" class="mui-input-clear" name="user_phone" placeholder="请输入电话号">
							</div>
						<!-- 	<div class="mui-input-row">
							<label>图片说明</label>
							<span class="mui-btn mui-btn-success mui-btn-outlined">
								上传
							</span>
						</div>
						<div class="mui-row">
							<div class="mui-col-sm-3 mui-col-xs-3">
								<div class="mui-card">
									<div class="mui-card-content">
										<img src="img/1.jpg" alt=""  style="width: 100%;"/>
									</div>
								</div>
							</div>
							<div class="mui-col-sm-3 mui-col-xs-3">
								<div class="mui-card">
									<div class="mui-card-content">
										<img src="img/1.jpg" alt=""  style="width: 100%;"/>
									</div>
								</div>
							</div>
							<div class="mui-col-sm-3 mui-col-xs-3">
								<div class="mui-card">
									<div class="mui-card-content">
										<img src="img/1.jpg" alt=""  style="width: 100%;"/>
									</div>
								</div>
							</div>
							<div class="mui-col-sm-3 mui-col-xs-3">
								<div class="mui-card">
									<div class="mui-card-content">
										<img src="img/1.jpg" alt=""  style="width: 100%;"/>
									</div>
								</div>
							</div>
							<div class="mui-col-sm-3 mui-col-xs-3">
								<div class="mui-card">
									<div class="mui-card-content">
										<img src="img/1.jpg" alt=""  style="width: 100%;"/>
									</div>
								</div>
							</div>
							<div class="mui-col-sm-3 mui-col-xs-3">
								<div class="mui-card">
									<div class="mui-card-content">
										<img src="img/1.jpg" alt=""  style="width: 100%;"/>
									</div>
								</div>
							</div>
							
							
						</div> -->
							<div class="mui-button-row">
														<input type="hidden" name="token" value="{$_W['token']}">
								<button type="submit" name="submit" value="提交" class="mui-btn mui-btn-primary">确认</button>
							</div>

						</form>
						<div style="height: 4em;"></div>
					</div>
				</div>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
	
			<a class="mui-tab-item mui-active" href="{php echo $this->createMobileUrl('service')}">
				<span class="mui-icon mui-icon mui-icon-arrowup"></span>
				<span class="mui-tab-label">提交工单</span>
			</a>

	<!-- 				<a class="mui-tab-item" href="#tabbar">
				<span class="mui-icon mui-icon mui-icon-list"></span>
				<span class="mui-tab-label">工单进度查询</span>
			</a> -->
<!-- 			<a class="mui-tab-item" href="#tabbar-with-contact">
	<span class="mui-icon mui-icon mui-icon-help"></span>
	<span class="mui-tab-label">常见问题</span>
</a> -->
		</nav>
		<script type="text/javascript" src="../addons/photobook/template/mobile/js/app.js"></script>
		<script type="text/javascript">
			mui('body').on('tap','a',function(){document.location.href=this.href;});
			function check(){
				var phone = document.getElementsByName('user_phone').value;
				if(!(/^1[34578]\d{9}$/.test(phone))){ 
					// alert("请填写正确的11位电话号码,请重填");  
					// return false; 
				} 
			}
		</script>
	</body>

</html>