{template 'header'}
<!-- <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/util.js"></script>
<script>
	window.sysinfo = {
		{if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
		{if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}{if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
		{if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
		'siteroot': '{$_W['siteroot']}',
		'siteurl': '{$_W['siteurl']}',
		'attachurl': '{$_W['attachurl']}',
		'attachurl_local': '{$_W['attachurl_local']}',
		'attachurl_remote': '{$_W['attachurl_remote']}',
		{if defined('MODULE_URL')}'MODULE_URL': '{MODULE_URL}',{/if}
		'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'}
	};
</script> -->
<div id="scroll" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<ul class="mui-table-view">
			<li class="mui-table-view-cell" class="li_address">
				<div class="mui-row">
					<div class="mui-col-sm-6 mui-col-xs-6">
						<span class="mui-icon mui-icon-contact"></span> {$address['receiver']}
					</div>
					<div class="mui-col-sm-6 mui-col-xs-6">
						<span class="mui-icon mui-icon-phone"></span> {$address['phone']}
					</div>
				</div>
				<div class="mui-row" style="margin-top: 0.5em;">
					<div class="mui-col-sm-12 mui-col-xs-12">
						<div class="mui-input-row mui-radio mui-left">
							<label style="color: royalblue">地址：{$address['address']}{$address['detail']}</label>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul class="mui-table-view" style="margin: 0.5em;">
			<li class="mui-table-view-cell">
				<div class="mui-col-sm-10 mui-col-xs-10">
					<div class="mui-row">
						<div class="mui-col-sm-6 mui-col-xs-6">
							<img src="{media $template['thumb']}" alt="" style="width: 100%;border-radius: 5px;" />
						</div>
						<div class="mui-col-sm-6 mui-col-xs-6" style="padding-left: 1em;">
							<div style="color: #2c3e50;">
								{$template['name']} X1
							</div>
							<div>
								<p style="margin-top: 2em;color: darkgoldenrod;font-size: 20px;">
									{if $is_inner_sub == 1}
									内部价格
									￥{$template['inner_price']}
									{else}
									￥{$template['price']}
									{/if}
								</p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				{if $free == 1}
				配送方式：包邮
				{else}
				配送方式：邮费<span style="color:red;padding-left: 2vw">{$remote_price}元</span>
				{/if}
			</li>
			<li class="mui-table-view-cell">
				<a class="mui-navigate-right">
					<p>共{$number}件商品</p>
					<p>
						
					</p>
					<p>合计:￥{$order_main['price']}元</p>
				</a>
			</li>
		</ul>
		<div class="mui-col-sm-12 mui-col-xs-12">
			<form class="mui-input-group">
				<div class="mui-button-row">
					{if $free == 1}
						<!-- <button type="button" class="mui-btn mui-btn-primary mui-disabled js-wechat-pay">微信支付（加载中）</button> -->
					<a href="{php echo $this->createMobileUrl('pay',array('order_id'=>$order_id))}" class="mui-btn mui-btn-primary" style="width: 100%;">微信支付</a>
					{else}
						<!-- <button type="button" class="mui-btn mui-btn-primary mui-disabled js-wechat-pay">微信支付（加载中）</button> -->
					<a href="{php echo $this->createMobileUrl('pay',array('order_id'=>$order_id,'remote_price'=>$remote_price))}" class="mui-btn mui-btn-primary" style="width: 100%;">微信支付</a>
					{/if}
				</div>
			</form>
		</div>
		<div style="height: 4em;"></div>
	</div>
</div>
<script>
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
		$('.js-wechat-pay').removeClass('mui-disabled');
		$('.js-wechat-pay').on('click',function(){
			var url = "{$free}" == 1? "{php echo $this->createMobileUrl('pay',array('order_id'=>$order_id))}" : "{php echo $this->createMobileUrl('pay',array('remote_price'=>$remote_price,'order_id'=>$order_id))}"
			$.getJSON(url, function(data, status){
				if(status == 'success'){
					util.pay({
						orderFee : data.fee,
						payMethod : 'wechat',
						orderTitle : '消费'+data.fee+'元',
						orderTid : data.orderTid,
						module : 'recharge',
						success : function(result) {
							alert('支付成功');
						},
						fail : function(result) {
							alert('fail : ' + result.message);
						},
						complete : function(result) {
							location.reload();
						}
					});
				}
			})
			$('.js-wechat-pay').html('微信支付');
		})
	})
</script>
{template 'footer'}