{template 'header'}
<style type="text/css">
	.tj{
		text-align: center;
	}
	.tj label{
		font-size: 0.68em
	}
	.mui-table-view-cell span{
		font-size: 0.8em 
	}
	.mui-col-sm-4,.mui-col-xs-4{
		margin-top: 2.2vw
	}
</style>
<div id="scroll" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-row" style="margin-top: 1em;background-color:#1E9FFF;height: 22vw;color:white">
			<div class="mui-col-sm-12 mui-col-xs-12">
				<div style="text-align: center;font-size: 0.7em;margin-top: 1vw">
					<span>我的上级:{if !empty($parent['nickname'])}{$parent['nickname']}{else}无{/if}</span>
				</div>
			</div>
			<div class="mui-col-sm-4 mui-col-xs-4">
				<div class="tj">
					<label>我的代理:{$count}人</label>
				</div>
			</div>
			<div class="mui-col-sm-4 mui-col-xs-4">
				<div class="tj">
					<label>我的团队:{php echo $team_count}人</label>
				</div>
			</div>

			<div class="mui-col-sm-4 mui-col-xs-4">
				<div class="tj">
					<label>新增人数:{if date('Y-m-d',time()) == date('Y-m-d',$self_info['day'])} {$self_info['new_add']}人 {else} 0人 {/if}</label>
				</div>
			</div>
		</div>
		<div class="mui-col-sm-12 mui-col-xs-12">
			<div class="mui-row" style="margin-top: 2em;">
				<ul class="mui-table-view" style="margin-left: 0.5em;margin-right: 0.5em;">
					{if empty($children_dl)}
					<li class="mui-table-view-cell" style="color: #00aab8;text-align: center;">
				    	<span class="mui-icon mui-icon-close"></span>
				    	暂时没有
				    </li>
						
				    {else}
				    	{loop $children_dl $index $v}
				    <li class="mui-table-view-cell">
				    	<img src="{$v['avatar']}" alt="" style="width: 4em;border-radius: 1em;float: left;margin-right:3vw">
				    	<span>{$v['nickname']}</span>
				    	<div class="mui-row">
				    		<div class="mui-col-sm-4 mui-col-xs-4">
				    			<span>代理人数：<span style="color:blue">{if !empty($v['self_count'])}{$v['self_count']}{else}0{/if}人</span></span>
				    		</div>
				    		<div class="mui-col-sm-4 mui-col-xs-4">
				    			<span>团队人数：<span style="color:blue">{if !empty($v['team_count'])}{$v['team_count']}{else}0{/if}人</span></span>
				    		</div>
				    	</div>
				    </li>
				    {/loop}
				    {/if}
				</ul>
			</div>
		</div>
		<div style="height: 4em;"></div>
	</div>
</div>
<script type="text/javascript">
	document.title = "我的团队"
</script>
{template 'footer'}