{template 'header'}
<style>
	.mui-table-view-cell{
		padding: 9px 15px];
	}
</style>
<div id="scroll" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div class="mui-row" style="margin-top: 1em;background-color: #1E9FFF">
			<div class="mui-col-sm-4 mui-col-xs-4">
				<img src="{$userInfo['headimgurl']}" alt="" / style="width: 60px;height: 60px;border-radius: 30px;margin: 1em;border: 2px solid #fff;">
			</div>
			<div class="mui-col-sm-5 mui-col-xs-5" style="margin-top: 1.8em;; font-size: 20px;color: white">
				{$userInfo['nickname']}
			</div>
			<div class="mui-col-sm-3 mui-col-xs-3" style="margin-top: 1.5em;font-size: 20px;">
				<!-- <button type="button" class="mui-btn mui-btn-danger">签到</button> -->
			</div>
		</div>
		<div class="mui-col-sm-12 mui-col-xs-12">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('orderlist')}">
						我的订单
						<div style="float: right;margin-right: 2em;">查看全部订单</div>
						<div style="clear: both;"></div>
					</a>
				</li>
				{if $user['dealer'] != -1}
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('quanlist')}">
						购买代金券
						<div style="float: right;margin-right: 2em;">查看所有代金券</div>
						<div style="clear: both;"></div>
					</a>
				</li>
				{/if}
				<li class="mui-table-view-cell">
					<div class="mui-row">
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a style="color: black" href="{php echo $this->createMobileUrl('order_not_pay')}">
								<div style="text-align: center;">
									{$pay_count}
								</div>
								<div style="text-align: center;">
									未支付
								</div>
							</a>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a style="color: black"  href="{php echo $this->createMobileUrl('order_take')}">
								<div style="text-align: center;">
									{$warting_count}
								</div>
								<div style="text-align: center;">
									待收货
								</div>
							</a>
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<a style="color: black"  href="{php echo $this->createMobileUrl('order_comment')}">
								<div style="text-align: center;">
									{$comment_count}
								</div>
								<div style="text-align: center;">
									待评价
								</div>
							</a>	
						</div>
					</div>
				</li>
			</ul>
			<div class="mui-row" style="margin-top: 1vw">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<div class="mui-row">
							<div style="position: relative;top: -2.5vw">
								<img class="menu_img" src="../addons/photobook/images/qb.png" alt=""> 我的钱包
							</div>
						</div>
						<div class="mui-row" style="margin-bottom: 0">
							<div class="mui-col-sm-6 mui-col-xs-6" style="text-align: left;">
								<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('myrebatelist')}">
									<div style="text-align: center;color: black">
										{if empty($money_count)}
										0
										{else}
										{$money_count}
										{/if}
									</div>
									<div style="text-align: center;color: black">
										余额
									</div>
								</a>
							</div>
							<div class="mui-col-sm-6 mui-col-xs-6" style="text-align: left;">
								<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('agentcardlist')}">
									<div style="text-align: center;color: black">
										{$card_count}
									</div>
									<div style="text-align: center;color: black">
										优惠券
									</div>
								</a> 
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="mui-row" style="margin-top: 1.3vw">
				<ul class="mui-table-view">
					{if $user['dealer'] == -1}
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('becomeagent')}">
							<img class="menu_img" src="../addons/photobook/images/dl.png" alt=""> 成为代理商
						</a>
					</li>
					{else}
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('becomeagent')}">
							<img class="menu_img" src="../addons/photobook/images/dl.png" alt=""> 代理中心
						</a>
					</li>
					{/if}
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('MyWork')}">
							<img class="menu_img" src="../addons/photobook/images/zp.png" alt=""> 我的作品
						</a>
					</li>
				</ul>
			</div>
			<div class="mui-row" style="margin-top: 0em;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('ShoppingCart')}">
							<img class="menu_img" src="../addons/photobook/images/gwc.png" alt=""> 我的购物车
						</a>
					</li>
				</ul>
			</div>
			<!-- <div class="mui-row" style="margin-top: 1vw;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" href="{php echo $this->createMobileUrl('document_list')}">
							<img class="menu_img" src="../addons/photobook/images/wd.png" alt=""> 文档中心
						</a>
					</li>
				</ul>
			</div> -->
		</div>
		<div style="height: 4em;"></div>
	</div>
</div>

{template 'footer'}