{template 'header'}
<div id="scroll" class="mui-content mui-scroll-wrapper">
	<div class="mui-scroll">
		<div style="font-size: 12px;font-family: '微软雅黑';" class="oo">
			<span class="mui-icon mui-icon-arrowdown"></span>地址列表
		</div>
		<div class="mui-row">
			<ul class="mui-table-view" id="ul">
				{loop $address $a}
				<li class="mui-table-view-cell" class="li_address" data-id="{$a['id']}">
					<div class="mui-row">
						<div class="mui-col-sm-6 mui-col-xs-6">
							<span class="mui-icon mui-icon-contact"></span>
							{$a['receiver']}
						</div>
						<div class="mui-col-sm-6 mui-col-xs-6">
							<span class="mui-icon mui-icon-phone"></span>
							{$a['phone']}
						</div>
					</div>
					<div class="mui-row" style="margin-top: 0.5em;">
						<div class="mui-col-sm-12 mui-col-xs-12">
							<div class="mui-input-row mui-radio mui-left">
								<label>地址：{$a['detail']}</label>
								<!-- <input name="radio1" type="radio"> -->
							</div> 
						</div>
					</div>
				</li>
				{/loop}
			</ul>
		</div>
		<div style="height: 4em;"></div>
	</div>
</div>
</div>
</div>
<nav class="mui-bar mui-bar-tab">
	<div class="mui-row">
			<!-- 	<div class="mui-col-sm-6 mui-col-xs-6">
				<button type="button" class="mui-btn mui-btn-primary" style="width: 80%;margin-left: 10%;margin-right: 10%;">使用所选地址</button>
			</div> -->
			<div class="mui-col-sm-12 mui-col-xs-12">
				<a href="{php echo $this->createMobileUrl('addredd_add')}">
					<button type="button" class="mui-btn mui-btn-success" style="width: 80%;margin-left: 10%;margin-right: 10%;">添加新地址</button></a>
				</div>
			</div>
		</nav>
		<script type="text/javascript" src="../addons/photobook/template/mobile/js/app.js"></script>
		<script type="text/javascript">
			mui(".mui-table-view").on('tap','.mui-table-view-cell',function(){
				var id =  $(this).data('id')
				location.href = "{php echo $this->createMobileUrl('Addredd_add',array('op'=>'edit'))}&id="+id
			}) 
		</script>

	</body>

	</html>